<p-dialog  [header]="formType" [(visible)]="display" [modal]="true" [draggable]="false" [style]="{minWidth: '30%'}" [baseZIndex]="10000">
  <ng-container *ngIf="formType == formTypes.SignUp; else signIn">
  <div class="registration">
    <form class="registration__form" [formGroup]="SignUp" >
      <input class="input" type="text"  placeholder="Имя"/>
      <input class="input" formControlName="phone" placeholder="Номер телефона"/>
      <input class="input" formControlName="password" placeholder="Пароль"/>
      <input  class="btn" type="submit" value="Зарегистрироваться"/>
      <p class="my-0 action">Есть аккаунт? <span class="text-primary cursor-pointer"
        (click)="formType = formTypes.SignIn">Войти</span></p>
    </form>
  </div>
</ng-container>
<ng-template #signIn>
  <div class="registration">
    <form class="registration__form" [formGroup]="SignIn" (ngSubmit)="submit()">
      <input class="input" formControlName="phone" placeholder="Номер телефона"/>
      <input class="input" formControlName="password" placeholder="Пароль"/>
      <input  class="btn" type="submit" value="Войти"/>
      <p class=" my-0 action">Нет аккаунта? <span class="text-primary cursor-pointer"
        (click)="formType = formTypes.SignUp">Создать</span></p>
    </form>
  </div>
</ng-template>
</p-dialog>

