.registration {
    padding: 5px 20px;
  
    &__form {
      display: flex;
      flex-direction: column;
    }
  }
  .input {
    width: 100%;
    padding: 12px 12px;
    border: 1px solid #cbd5e1;
    border-radius: 4px;
    margin-top: 16px;
  
    &:first-child {
      margin-top: 0;
    }
  }
  
  .input:focus {
    background-color: transparent;
    outline: none;
  }
  .btn {
    display: block;
    margin: 0 auto;
    margin-top: 24px;
    padding: 12px 10px;
    background: #3b82f6;
    border-radius: 4px;
    // width: 80%;
    border: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
  }
.action{
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}
  