<div class="container">
    <h2 class="container__title">Рекомендации для вас</h2>
    <div class="content">
    <ng-container *ngIf="isLoading; else content">
      <div *ngFor="let count of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
      <p-skeleton size="18rem" styleClass="mb-5"></p-skeleton>
      <p-skeleton width="15rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
      </div>
    </ng-container>
    </div>

    <ng-template #content >
      <app-product  *ngFor="let advertisement of advertisements" [advertisement]="advertisement"></app-product>   
    </ng-template>
    <div *ngIf="!isLoading&&advertisements.length==0" class="empty">
      <p>Ничего по данному запросу найдено не было...</p>
    </div>
</div>

