.container{
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    &__title{
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #1E293B;
        margin:32px 0px 24px 0px;
    }
}
.content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:35px;
}
.empty{
    display: flex;
    margin: 0 auto;
    align-items:center;
    

}
