@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import  "generic/_normalize";

@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";


*{
    font-family: 'Inter', sans-serif;
}

html{
    height: 100%;
}

body{
    font-family: 'Inter', sans-serif;
    height: 100%;
    min-height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

input::placeholder,
textarea::placeholder{
    color: #64748B;

}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1400px) {
    body {
        // background-color: rgb(127, 165, 255);
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1200px) {
    body {
        // background-color: rgb(255, 127, 127);
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 992px) {
    body {
        // background-color: rgb(255, 236, 127);
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
    body {
        // background-color: rgb(127, 255, 131);
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 576px) {
    body {
        // background-color: aquamarine;
        
    }
}