
<div class="container-back">
  <div class="container">
      <div class="header-button">        
              <ng-container *ngIf="!isLogin; else user" >
                  <button class="p-2 text-sm bg-bluegray-900 border-bluegray-900" pButton type="button" (click)="showDialog()" icon="pi pi-user" label="Войти" ></button>
                  <button class="p-2 text-sm " pButton type="button" (click)="showDialog()"  icon="pi pi-plus"  label="Новое объявление"></button>
              </ng-container>
      </div>
  </div>
</div>
<ng-template #user>
  <p-menu styleClass="text-sm" #menu [popup]="true" [model]="items"></p-menu>
  <p-button styleClass="bg-bluegray-900 border-bluegray-900 p-1 text-sm" type="button"  icon="pi pi-angle-down" label="Алексей" (click)="menu.toggle($event)"></p-button>
  <button routerLink="advertisement/create" class="p-2 text-sm " pButton type="button"  icon="pi pi-plus" label="Новое объявление"></button>
</ng-template>
<app-auth [display]="display" (loginEvent)="successLogin($event)"> </app-auth> 

