<div class="container">
  <div class="content">
    <h2 class="heading">Новое объявление</h2>
    <label for="category">Выберите категорию<span> *</span></label> 
    <input class="select" type="text" name="category" placeholder="Нажмите, чтобы выбрать">
    <label for="title_adv">Название объявления<span> *</span></label> 
    <input class="input-title-adress" type="text" name="title_adv" placeholder="Что хотите продать?">
    <label for="description">Описание</label> 
    <textarea class="input-description"  rows="10" name="description" placeholder="Расскажите подробнее о товаре или услуге"></textarea>
    <label for="adress">Адрес (место проведения сделки)<span> *</span></label> 
    <input class="input-title-adress" type="text" name="adress" placeholder="Начните вводить адрес">
    <div class="adPicture">
      <a href=""><img src="" alt="">Добавить картинки</a>
      <p class="adPicture__warning">Максимум 10 картинок в формате jpeg, png или heic</p>
    </div>
    <p>Цена</p>
    <input class="input-price" type="number" placeholder="0 ₽">
    <input class="btn" type="submit" value="Разместить объявление">
    <!-- <p>Нажимая кнопку «Разместить объявление» </p>
    <p>Вы соглашаетесь с <a href="#">правилами площадки</a></p>  -->
  </div>
</div>
