.container{
    width: 100%;
    height: 100%;
}
.content{
    width: 1296px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    & label{
        margin-bottom: 8px;
        font-weight: 400;
        font-size: 16px;
        color: #1E293B;
    }
    & span{
        color: #EF4444;
        font-weight: 400;
        font-size: 16px;
    }
    & textarea{
    resize:none;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    }
}
.heading{
    margin-top: 32px;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 24px;
    color: #1E293B;
}
.input-title-adress{
    margin-bottom: 16px;
    width: 65%;
    padding: 12px 12px;
    border: 1px solid #CBD5E1;
    border-radius: 4px;
    color: #64748B;
    font-weight: 400;
    font-size: 16px;
}
.input-title-adress:focus{
    background-color: transparent;
    outline: none;
}
.select{
    border: 1px solid #CBD5E1;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 12px 12px;
    border-radius: 4px;
    color: #64748B;
    font-weight: 400;
    font-size: 16px;
    width: 25%;
}
.select:focus{

    background-color: transparent;
    outline: none;
}
.input-description{
    margin-bottom: 16px;
    width: 65%;
    padding: 12px 12px;
    border: 1px solid #CBD5E1;
    border-radius: 4px;
    color: #64748B;
    font-weight: 400;
    font-size: 16px;

}
.input-description:focus{
    background-color: transparent;
    outline: none;
}
.btn{
    border: 1px solid #3B82F6;;
    width: 18%;
    padding: 12px 12px;
    margin-top: 24px;
    background: #3B82F6;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}
input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
     -moz-appearance: textfield;
}