<div class="container">
  <div class="card">
    <div class="card__item-cover">
     <a href="#"><img class="card-img" [src]="advertisement.imgSrc" alt="advertisement.title"></a>
    </div>
    <div class="card__info">
     <a href="#"><p class="card__card-title">{{advertisement.title}}</p></a>
        <p class="card__card-price">{{advertisement.price}}₽</p>
        <p class="card__card-adress">{{advertisement.address}}</p>
        <p class="card__card-time">{{advertisement.createdAt}}</p>
    </div>
  </div>
</div>